* {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.header {
  display: flex;
  flex: 1;
  background-color: #1F2937;
  color: #f9faf8;
  margin: 0;
}

.logo {
  font-size: 24px;
  flex-grow: 4;
  margin-left: 30px;
}

.link {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  color: #f9faf8;
  background-color: #1F2937;
  display: flex;
}

.awesome {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.right {
  height: 200px;
  width: 600px;
  background-color: #696b6e;
  margin: 50px;
}

.left {
  height: 200px;
  width: 600px;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.bright {
background-color: #3882f6;
padding: 5px 15px;
border-radius: 8px;
border: none;
color: #e5e7eb;
font-weight: bold;
}