* {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
}

body {
  margin: 0;
}

.header {
  display: flex;
  flex: 1;
  background-color: #1F2937;
  color: #f9faf8;
  padding: 12px 130px;
  justify-content: space-between;
}

.hero {
  color: #f9faf8;
  background-color: #1F2937;
  padding: 130px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 2;
  margin: 12px 0;
}

.link {
  font-size: 18px;
  color: #e5e7eb;
  margin: 15px 15px;
}


.awesome {
  font-size: 48px;
  font-weight: bold;
  margin: auto;
}

.right {
  height: 250px;
  width: 550px;
  background-color: #696b6e;
}

.left {
  height: 200px;
  width: 600px;
  justify-content: center;
  align-items: center;
}

.bright {
background-color: #3882f6;
padding: 5px 15px;
border-radius: 8px;
border: none;
color: #e5e7eb;
font-weight: bold;
}